
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using GeolabPortfolio.Models
@model IEnumerable<Project>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        ჯეოლაბელები
    </div>
    <div class="card-body">
        <a href="~/Project/Create" class="btn btn-danger">ახალი პროექტი</a>
        <div class="table-responsive" style="margin-top:15px;">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>სახელი</th>
                        <th>სურათი</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Project t in Model)
                    {
                        <tr>
                            <td>@t.Id</td>
                            <td>@t.Name</td>
                            <td>
                                <img src="~/Content/Uploads/@t.Image" class="img-thumbnail" style="width:50px"/>
                            </td>
                            <td>
                                <a href="~/Project/Details/@t.Id" class="btn btn-danger">დეტალურად</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

