@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using GeolabPortfolio.ViewModels
@model List<ProjectListViewModel>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        პროექტი
    </div>
    <div class="card-body">
        <a href="~/Project/Create" class="btn btn-danger">
            <i class="fas fa-plus"></i> ახალი პროექტი
        </a>
        <div class="table-responsive" style="margin-top:15px;">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>სურათი</th>
                        <th>სახელი</th>
                        <th>ავტორი</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProjectListViewModel entity in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/Content/Uploads/@entity.Image" class="img-thumbnail" style="width:100px" />
                            </td>
                            <td>@entity.Name</td>
                            <td>@entity.AuthorFullName</td>
                            <td>
                                <!--<a href="~/Project/Details/@entity.Id" class="btn btn-danger">დეტალურად</a>-->
                                <div class="btn-group pull-right" role="group" aria-label="Basic example">
                                    <a href="~/Project/Details/@entity.Id" class="btn btn-secondary">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a href="~/Project/Edit/@entity.Id" class="btn btn-secondary">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#Delete_@entity.Id">
                                        <i class="fas fa-trash fa-sm fa-fw mr-2"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <!--Delete Dialog-->
                        <div class="modal fade" id="Delete_@entity.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">წაშლა</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">დარწმუნებული ხართ, რომ გსურთ წაშლა?</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">არა</button>
                                        <a class="btn btn-primary" href="~/Project/Remove/@entity.Id">დიახ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

