
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>Error</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/error.css" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <div></div>
                <h1>404</h1>
            </div>
            <p>სამწუხაროდ ასეთი გვერდი ვერ მოიძებნა</p>
            <!--<p></p>-->
            <a href="~/Home">მთავარი გვერდი</a>
        </div>
    </div>
</body>
</html>
